.button
  padding 10px
  display block
  color #fff
  font-size 0.813rem
  text-align center
  text-decoration none
  border-radius 0 0 6px 6px
  background darken($primary-color,30%)
  border none
  -webkit-transition 0.4s
  transition 0.4s
  
  &:hover
  	transition 0.4s
  	background darken($primary-color,50%)
		text-decoration none