.repos-list
	
	+desktop()
		lost-column 3/5

.repo-item
	margin-bottom 10px
	padding 20px
	background #fff
	border-radius 6px	

	> .name
		display block
		font-size rem(16px)

	> .description
		display block
		margin 10px 0
		font-size rem(13px)
		color darken($gray-color,90%)	
		
	> .stars
		display block
		margin 10px 0
		font-size rem(13px)
		color #f1c40f
		font-weight bold
			
	> .button
		width 60px
		border-radius 6px
		
		&:hover
			transition 0.4s
			background darken($primary-color,60%)
	