.search-form
	margin 20px 0
	width 100%
	
	> .title
		font-size rem(24px)
		text-align center
		color $primary-color
	
	> .input
		margin-top 20px
		height 50px
		width 100%
		text-align center
		font-size rem(18px)
		color darken($gray-color, 40%)
		background darken($gray-color, 10%)
		border-radius 6px 6px 0 0
		border none
		outline none
		
		&:focus
			background darken($gray-color, 15%)
			transition 0.4s
			
	> .button
		width 100%
		font-weight bold
		font-size rem(16px)