*,
*:after,
*:before
	box-sizing border-box
	margin 0
	padding 0

body
	font-family 'Open Sans', sans-serif
	background $gray-color
		
h1
	margin 0
	padding 0		
	
ul, li 
	list-style none

a 
	text-decoration none
	color $primary-color	
